Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}
.menu-container {
  max-height: 400px; /* Set the maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative; /* Position for the scroll button */
}

.menu-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.menu-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Border radius of the scrollbar thumb */
}

.scroll-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20px; /* Width of the scroll button */
  background-color: #ccc; /* Color of the scroll button */
  cursor: pointer;
}


.headroom {
  position: sticky;
  /* position: relative; */
  top:0;
  z-index: 9999;
   /* Adjust as needed */
}
